.add {
    flex: 1;
    margin: 2rem 5rem;
    font-size: 1rem;
}

.add form {
    gap: 10px;
}

.add-image-upload {
    width: 120px;
}


.add-image-upload img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #ccc;
}

.add-product-name, .add-product-description {
    width: max(40%, 280px);
}


.add-product-name input, .add-product-description textarea {
    padding: 10px;
    border-radius: 10px;
    border: #374151 1px solid;
    outline: none;
}

.add-category-price {
    display: flex;
    gap: 30px;
}

.add-category-price select, .add-category-price input {
    max-width: 180px;
    padding: 10px;
    border-radius: 10px;
    border: #374151 1px solid;
    outline: none;
}

.add-category-price select {
    background: #4b5563;
    color: #e5e7eb;
}

.add-btn {
    width: fit-content;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    background-color: #1f2937;
    font-weight: 500;
    color: #e5e7eb;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.add-btn:hover {
    background-color: #374151;
}