@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.navbar {
    padding: 15px 4em;
    font-family: "Quicksand", sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #f7f5f1;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    margin: auto 0px;
}

.navbar-left .logo {
    width: 80px;
}

.navbar-left p {
    font-size: 2em;
    color: #82b3bc;
    font-weight: 700;
    letter-spacing: 0.08em;
}

.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 20px;
    background-color: white;
    font-family: "Quicksand", sans-serif;
    outline: none;
    gap: 5px;
}

.search-bar {
    width: 100%;
    border: none;
    background-color: white;
}

.search-bar:focus {
    outline: none;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.search-icon, .cart-icon, .user-icon {
    color: #49749a;
    font-size: 24px;
    cursor: pointer;
}

.navbar-left,
.navbar-right {
  flex: 0 0 auto;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-cart {
    position: relative;
}

.navbar-cart .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #b7868d;
    border-radius: 50%;
    top: -4px;
    right: -4px;
}

.sign-in-btn {
    border-radius: 24px;
    border: 2px solid #49749a;
    background: #f7f5f1;
    color: #49749a;
    font-weight: 500;
    padding: 8px 20px;
    
}

.sign-in-btn:hover {
    background: #82b3bc;
    border: 2px solid #82b3bc;
    color: white;
    box-sizing: border-box;
}

.navbar-profile {
    position: relative;
    cursor: pointer;
}

/* Hidden by default */
.profile-drop {
    position: absolute;
    top: 100%; /* below the profile */
    right: 0;
    display: none;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
    z-index: 10;
    min-width: 200px; /* Ensures enough width for content */
}

/* Show on hover */
.navbar-profile:hover .profile-drop {
    display: block;
}

/* Optional styling inside dropdown */
.profile-drop p {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.profile-drop ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-drop li {
    padding: 0.5rem 0;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    color: #444;
}

.profile-drop li:hover {
    color: #49749a;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: underline;
}